<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="blfSettings" type="Aufbauwerk.Asterisk.BLF.Settings, AsteriskBLF" />
  </configSections>
  <blfSettings>
    <servers>
      <add name="innsbruck" host="pbx-innsbruck" username="admin" secret="pwd" extensionPattern="^(\d\d)$" deviceFormat="Custom:4$1" />
    </servers>
  </blfSettings>
</configuration>
